body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfc8d4;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(55, 41, 67, 0.467);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 80px;
    padding: 20px;
}

nav a {
    line-height: 70px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    padding: 0 70px;
}

main {
    flex-grow: 1; /* pushes footer down*/
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding-top: 100px; 
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.site-footer {
    background-color: rgba(250, 250, 250, 0.684);
    background: linear-gradient(0deg, rgb(129, 109, 130) 0%,rgba(250, 250, 250, 0.684) 55%);
    padding: 40px 20px;
    color: #fff; 
    border-top: none; 
}

.site-footer a {
    color: #fff; 
    text-decoration: none;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* columns */
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto;
}

.footer-logo {
    text-align: left;
    color: #222;
    font-size: 1.5rem;
    margin: 0;
}


.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-links p {
    margin: 10px 0;
}

.footer-links a {
    color: #222;
    text-decoration: none;
    font-size: 1rem;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-social a {
    margin-left: 15px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}
