body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(137, 68, 133);
    display: flex;
}

#logo-img {
    border-radius: 50%;
    width: 80px;
    margin: 15px 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 80px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: large;
}

h1 {
    text-align: center;
    font-family: cursive;
}