h3, p {
    margin: 0;
}

/* welcome part  */

.welcome-container {
    margin: 3rem auto;
    width: 90%;
}

.welcome-msg {
    padding: 0 1.5rem;
    h1 {
        text-align: center;
        font-size: 2rem;
    }

    p{
        text-align: center;
    }
}

.welcome-img {
    width: 100%;
}

.content-container {
    margin-top: 50px;

    h2 {
        text-align: center;
        font-size: 1.8rem;
    }
}

.content {
    justify-content: space-between;
    width: 90%;
    margin: 3rem auto;
  
    p, h3 {
      text-align: center;
      margin: 5px;
    }
  }

.gallery-content {
    margin-bottom: 60px;
}

.content-img {
    width: 100%;
}







.events-container {
    width: 90%;
    margin: 50px auto;
}

.events-img {
    width: 70%;
    margin-top: 20px;
}



/* media query  */

@media screen and (min-width: 700px) {
    nav {
      flex-direction: row;
    }

    .welcome-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .welcome-msg {
        grid-column: 1/2;
        grid-row: 1/1;

        h1 {
            font-size: 1rem;
        }
    }
        
    .welcome-img {
        grid-column: 2/3;
        height: 100%;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    .gallery-content {
        width: 30%;
    }

    .events-container {
        width: 70%;
    }
}

@media screen and (min-width: 1185px) {
    .welcome-msg {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.3rem;
        }

    }

    .events-container {
        width: 60%;
    }

    .events-img {
        width: 60%;
    }

}
