main {
    text-align: center;
    margin: 0 auto;
    padding: 75px 0;
}

h1 {
    font-size: 3em;
}

section {
    margin-bottom: 75px;
}

.people {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.profile-photo {
    width: 70%;
}

.card {
    padding: 25px 0 ;
}

/* @media (max-width: 2000px) {
  .people {
    grid-template-columns: repeat(7, 1fr);
  }
} */

@media (max-width: 1600px) {
  .people {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .people {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .people {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .people {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .people {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .people {
    grid-template-columns: 1fr;
  }
}

/* projects  */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.project-card {
    width: 30%;
    padding: 35px 0;
}

@media (max-width: 600px) {
   .project-card {
    width: 90%;
   }
}


/* overlay  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 40px;
  text-decoration: none;
  color: white;
}

.overlay-content {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 70%;
}

