main {
    text-align: center;
    margin: 0 auto;
    padding: 75px 0;
}

h1 {
    font-size: 3em;
}

section {
    margin-bottom: 75px;
}

.people {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.profile-photo {
    width: 70%;
    border-radius: none
}

.card {
    padding: 25px 0 ;
}

@media (max-width: 2000px) {
  .people {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .people {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .people {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .people {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .people {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .people {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .people {
    grid-template-columns: 1fr;
  }
}

/* projects  */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.project-card {
    width: 30%;
    padding: 35px 0;
}

@media (max-width: 600px) {
   .project-card {
    width: 90%;
   }
}
