@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --swe-purple: #5a5377;
    --swe-gold: #DBC554;
    --swe-gray: #A9A8A9;
}

body {
    margin: 0;
    color: var(--swe-purple);
    font-family: 'Open Sans';
}

nav {
    /* text-align: right; */
    background-color: var(--swe-gold);
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

nav a {
    padding: 20px 40px;
    color: var(--swe-purple);
    text-decoration: none;
    font-size: 1.3em;
}

nav a:hover {
    background-color: var(--swe-purple);
    color: white;
    /* margin: 100%; */
}

#logo {
    max-width: 300px;
    margin: 0 auto;
}

main {
    text-align: center;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

footer {
    background-color: rgba(250, 250, 250, 0.684);
    background: linear-gradient(0deg, rgb(129, 109, 130) 0%,rgba(250, 250, 250, 0.684) 55%);
    padding: 40px 20px;
    color: #fff; 
    border-top: none; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* columns */
    gap: 20px; 
    padding: 2% 5% 1%;
}

footer a {
    color: #fff; 
    text-decoration: none;
}

.footer-logo {
    text-align: left;
    color: #222;
    font-size: 1.5rem;
    margin: 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-links p {
    margin: 10px 0;
}

.footer-links a {
    color: #222;
    text-decoration: none;
    font-size: 1rem;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-social a {
    margin-left: 15px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

/* light-dark theme */
#theme {
    position: absolute;
    top: 5px;
    right: 5px;
}

.dark {
    background-color: #2c2c2c;
    color: white;
    .content-links {
        color: rgb(213, 213, 103);
    }
}

/* image slideshow  */
