@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --swe-purple: #5a5377;
    --swe-gold: #DBC554;
    --swe-gray: #A9A8A9;
}

body {
    margin: 0;
    color: var(--swe-purple);
    font-family: 'Open Sans';
}

nav {
    /* text-align: right; */
    background-color: var(--swe-gold);
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

nav a {
    padding: 20px 40px;
    color: var(--swe-purple);
    text-decoration: none;
    font-size: 1.3em;
}

nav a:hover {
    background-color: var(--swe-purple);
    color: white;
    /* margin: 100%; */
}

#logo {
    width: 400px;
}

/* CSS Rules for Profiles page (may move to a separate file if needed) */

main {
    text-align: center;
    margin: 0 auto;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 33%;
}

.profile-photo {
    border-radius: 50%;
}